{% extends "layout.html" %}

{% block content %}
    <h1>Home Page</h1>
    {% for post in posts %}<!--% menggunakan spasi atau tidak sama saja-->
        <h1>{{post.title}}</h1>
        <p>By {{post.author}} on {{post.date_posted}}</p>
        <p>{{post.content}}</p>
    {% endfor %}
    <form action="/basic" method="POST">
        <input type="text" name="name">
        <input type="submit" name='submit' value="SUBMIT">
    </form>
{% endblock content%}