<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>Blog - {{title}}</title>
    {% else %}
        <title>Blog</title>
    {% endif %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>